/*  your css code here. If applicable */
.hero {
            display: flex;
            justify-content: space-around;
            align-items: center
}
.hero>img {
            width: 500px; 
            height: 200px; 
           object-fit: cover;
}
.hero-button {
            padding: 10px 20px; 
            background-color: red;
            color: #FFFFFF; 
			border-radius: 5px; 
            text-decoration: none; 
}